@charset "utf-8";
@import url("common.css");


/* ------------------------------------------------------ */
/* BODY */
body {
  background        : #ECECEC;
  background        : #FFFFFF;
  margin            : 4px 8px 4px 8px;
}

/* ------------------------------------------------------ */
/* ロゴ */
DIV.logo {
  margin            : 4px 0px 16px 0px;
}

/* ------------------------------------------------------ */
/* ドキュメントタイトル */
DIV.toc_title {
  border            : 1px solid gray; 
  padding           : 10px;
  background        : white;
  margin            : 1px;
  font-size         : 16px;
  font-weight       : bold;
}

/* ------------------------------------------------------ */
/* フレームの開閉用 */
DIV#rootPane
{
  overflow          : auto;
  padding           : 0px;
  margin            : 0px;
}
IMG#btn_lr
{
  cursor            : pointer;
}

/* ------------------------------------------------------ */
/* タイトル部分のアンカー */
DIV#doc_title a
{
  text-decoration   : none;
  color             : blue;
}

/* ------------------------------------------------------ */
/* すべてのツリー目次の開閉用 */
DIV#treeController
{
  text-align        : center;
  vertical-align    : middle;
  padding           : 16px 0px 8px 0px;
}


/* ------------------------------------------------------ */
/* 印刷ページの選択肢 */
DIV#printController
{
  margin            : 16px 0px 0px 0px;
  border-color      : gray;
  border-style      : solid;
  border-width      : 1px 0px 1px 0px;
  padding           : 8px 0px 8px 0px;
  display           : none;
}

SELECT.selectCategory
{
  margin            : 4px 0px 4px 0px;
  width             : 100%;
}

INPUT.selectCategory
{
  margin            : 4px 0px 4px 0px;
  width             : auto;
}

/* ------------------------------------------------------ */
/* ツリー目次 */
div#contents_tree
{
  border            : 1px solid gray;
  padding           : 10px;
  margin            : 0px;
  background        : #FCFCFC;
  overflow          : scroll;
  overflow-x        : scroll;
  overflow-y        : scroll;
  height : 600px;
}
/* ツリー内のアンカー */
DIV#contents_tree a
{
  text-decoration   : none;
}

DIV#contents_tree a:link
{
  color             : blue;
}

DIV#contents_tree a:visited
{
  color             : blue;
}

DIV#contents_tree a:hover
{
  background-color  : #DDF !important;
}
DIV#contents_tree a.focused
{
  background-color  : #DDD;
}

/* ツリーの先頭 */
DIV.treeitem_root {
  text-align        : left;
  font-weight       : normal;
  color             : #000000;
  position          : relative;
  left              : 0px;
  display           : block;
  margin            : 0px;
}
/* 開閉用 */
DIV.treeitem_open {
  text-align        : left;
  font-weight       : normal;
  color             : #000000;
  position          : relative;
  display           : block;
  margin            : 0px 0px 0px 12px;
}
DIV.treeitem_close {
  text-align        : left;
  font-weight       : normal;
  color             : #000000;
  position          : relative;
  display           : none;
  margin            : 0px 0px 0px 12px;
}

/* リスト行（アイコンあり） */
DIV.listline {
  text-align        : left;
  vertical-align    : middle;
  margin            : 0px 16px 1px 0px;
  padding           : 0px;
}

/* リスト行（アイコンなし） */
DIV.listline_file {
  text-align        : left;
  vertical-align    : middle;
  margin            : 0px 16px 1px 15px;
  padding           : 0px;
}

/* アイコン */
IMG.file {
  vertical-align    : middle;
  margin-right      : 4px;
}

IMG.closefolder {
  vertical-align    : middle;
  cursor            : pointer;
  margin-right      : 4px;
}

IMG.openfolder {
  vertical-align    : middle;
  cursor            : pointer;
  margin-right      : 4px;
}

/* 目次の文字 */
SPAN.header {
  font-weight       : bold;
  vertical-align    : middle;
  padding-left      : 0px;
}
SPAN.item {
  font-weight       : normal;
  vertical-align    : middle;
  padding-left      : 0px;
}

/* 区切り線 */
HR.separator {
}

/* 階層レベルごとのフォントサイズ調整 */
SPAN.treelevel_0,
SPAN.treelevel_1,
SPAN.treelevel_2
{
  font-size: 100%;
}

SPAN.treelevel_3,
SPAN.treelevel_4,
SPAN.treelevel_5,
SPAN.treelevel_6,
SPAN.treelevel_7,
SPAN.treelevel_8
{
  font-size: 90%;
}

/* ------------------------------------------------------ */
