@charset "utf-8";

/* ------------------------------------------------------ */
/* ボディ */
body
{
    font-size: 11pt;
    background: #FFF;
    margin: 4px 8px 48px 8px;
    padding: 0px;
    font-family: "Arial", sans-serif;
}

/* ------------------------------------------------------ */
/* ヘッダ */
h1
{
    font-size: 18pt;
    font-weight:bold;
    color:white;
    margin: 12px 0px 12px 12px;
    padding: 10px;
    background: #808080;
}

h2
{
    font-size: 16pt;
    margin: 20px 0px 12px 24px;
    padding: 0px 0px 0px 0px;
    border-style: none none solid none;
    border-width: 0px 0px 2px 0px;
    border-color: #C0C0C0;
}

h3
{
    font-size: 14pt;
    margin: 16px 0px 10px 36px;
    padding: 0px 0px 0px 2px;
    border-style: none none solid none;
    border-width: 0px 0px 2px 0px;
    border-color: #C0C0C0;
}

h4
{
    font-size: 13pt;
    margin: 12px 0px 8px 36px;
    padding: 0px 0px 0px 2px;
    border-style: none none solid none;
    border-width: 0px 0px 1px 0px;
    border-color: #C0C0C0;
}

h5
{
    font-size: 12pt;
    margin: 12px 0px 8px 36px;
    padding: 0px;
}

h6
{
    font-size: 11pt;
    margin: 12px 0px 8px 36px;
    padding: 0px;
    font-weight: normal;
    text-decoration: underline;
}

/* ------------------------------------------------------ */
/* パラグラフ */
p
{
    position: relative;
    margin: 8px 12px 0px 24px;
    padding: 0px;
}

p.center
{
    text-align: center;
}

p.left
{
    text-align: left;
}

p.right
{
    text-align: right;
}

/* pre */
pre
{
    margin: 8px 12px 0px 24px;
    padding: 0px;
}

/* ------------------------------------------------------ */
/* リスト */

ul
{
    margin: 8px 12px 0px 52px;
    padding: 0px;
}

ol
{
    margin: 8px 12px 0px 52px;
    padding: 0px;
}

dl
{
    margin: 8px 12px 0px 36px;
    padding: 0px;
}

li ul
{
    margin: 0px 0px 12px 1em;
}

li ol
{
    margin: 0px 0px 12px 1em;
}

li dl
{
    margin: 0px 0px 12px 1em;
}

li
{
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

dt
{
    font-weight: bold;
    margin: 8px 0px 0px 0px;
}

dd
{
    margin: 4px 0px 0px 1em;
}

/* ------------------------------------------------------ */
/* テーブル */
table
{
    border-style : solid;
    border-collapse : collapse;
    border-width : 2px;
    border-color : #808080;
    margin: 8px 12px 0px 24px;
    padding: 0px;
}

table table
{
    border-width : 1px;
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

thead {
    background: #cccccc;
}

th
{
    text-align: center;
    border-style : solid;
    border-width : 1px;
    padding: 4px 8px 4px 8px;
    white-space: nowrap;
}

td
{
    border-style : solid;
    border-width : 1px;
    padding: 4px 8px 4px 8px;
}

td.nowrap_left
{
    white-space: nowrap;
    text-align: left;
}

td.nowrap_center
{
    white-space: nowrap;
    text-align: center;
}

td.nowrap_right
{
    white-space: nowrap;
    text-align: right;
}

/* ------------------------------------------------------ */
/* 強調 */
em
{
/*
    font-style: normal;
    text-decoration: underline;
*/
}

/* ------------------------------------------------------ */
/* リンク */
a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

/* ------------------------------------------------------ */
/* 画像 */
img
{
    vertical-align: bottom;
    border-width: 0px;
/*
    max-width: 100%;
*/
}

/* ------------------------------------------------------ */
