/**************************************************************
	ボタンページ用スタイルシート

 **************************************************************/

BODY
{
	font-size			: 10pt;
	background-color	: #fff;
	color				: #111;
}


/*============================================================
	ボタン用テーブル設定
 *============================================================*/

TABLE
{
	background-color	: #cdf;
	border-color		: #88a;
	border-width		: 1pt;
	border-style		: solid;

	width				: 100%;
        height				: 100%;
	margin				: 2px 0px 2px 0px;
	padding				: 0px;
}


TH
{
	color				: #333;
	text-align			: center;
	font-weight			: bold;
	font-size			: 11px;

	background-color	: #abf;
	border-color		: #def #668 #668 #def;
	border-width		: 1px;
	border-style		: solid;
}


TD
{
	color				: #333;
	text-align			: center;
	font-weight			: bold;
	font-size			: 11px;

	background-color	: #bcf;
	border-color		: #def #668 #668 #def;
	border-width		: 1px;
	border-style		: solid;
}


/*============================================================
	リンク表示設定
 *============================================================*/

A
{
	display				: block;
	padding				: 2px;
	margin				: 0px;

	text-decoration		: none;
}

A:VISITED
{
}

A:HOVER
{
	background-color	: #fe4;
	text-decoration		: underline;
}

A:ACTIVE
{
	color				: #f00;
}
