/*****************************************************************************
	メインページ用スタイルシート

 *****************************************************************************/

BODY
{
	font-family			: Arial;
	font-size			: 10pt;

	background-color	:#fff;
	color				:#111;
}


/*============================================================
	タイトル用スタイル
 *============================================================*/

DIV.title
{
	font-family			: Arial;
	font-size			: 20pt;
	font-weight			: bold;

	text-align			: left;

	margin				: 10px 0px 10px 50px;
}

DIV.version
{
	font-family			: Arial;
	font-size			: 12pt;
	font-weight			: bold;
	color				: #f00;

	text-align			: right;
	margin				: 0px 30px 20px 0px;
}


/*============================================================
	注意書き用スタイル
 *============================================================*/

P.confidential
{
	font-family			: Arial;
	font-size			: 10pt;
	font-weight			: bold;
	color				: #000;

	text-align			: left;
	margin				: 0px 20px 10px 0px;
}

P.confidential-en
{
	font-family			: Arial;
	font-size			: 8pt;
	font-weight			: normal;
	color				: #333;

	text-align			: left;
	margin				: 0px 10px 10px 20px;
}

P.confidential-jp, P.notice
{
	font-family			: Arial;
	font-size			: 8pt;
	font-weight			: bold;

	color				: #000;
	background-color	: #fe0;

	text-align			: left;
	margin				: 0px 0px 4px 0px;
	padding				: 4px 4px 4px 30px;
}

P.copyright
{
	font-family			: Arial;
	font-size			: 8pt;
	font-weight			: normal;
	color				: #000;
	text-align			: left;
	margin				: 0px 10px 10px 0px;
}

P.browser
{
	font-family			: Arial;
	font-size			: 9pt;
	font-weight			: bold;
	color				: #e0f;
	text-align			: right;
	margin				: 20px 10px 0px 0px;
}

HR
{
	height				: 4px;
	color				: #48f;
	margin				: 4px 0px 4px 0px;
}


/*============================================================
	見出し用スタイル
 *============================================================*/

H1
{
	font-family			: Arial;
	font-weight			: bold;
	font-size			: 24px;

	margin				: 0px 0px 20px  0px;
	padding				: 0px 0px  0px 10px;

	border-style		: none none solid none;
	border-width		: 3px;
	border-color		: #48f;
}

H2
{
	font-family			: Arial;
	font-weight			: bold;
	font-size			: 20px;

	margin				: 30px 0px 10px  0px;
	padding				:  0px 0px  0px 10px;

	border-style		: none none solid double;
	border-width		: 0px 0px 2px 8px;
	border-color		: #49f;
}


/*============================================================
	更新内容テーブル用スタイル
 *============================================================*/

TABLE
{
	text-align			: left;
	border-width		: 0pt;
	margin-left			: 70px;
	margin-right		: auto;
}

TD
{
	font-family			: Arial;
	font-size			: 10pt;
	font-weight			: normal;
}


/*============================================================
	リンク用スタイル
 *============================================================*/

A
{
	color				: inherit;
	background-color	: inherit;
	text-decoration		: none;
}

A:VISITED
{
	color				: inherit;
}

A:HOVER
{
	background-color	: #fe4;
	text-decoration		: underline;
}

A:ACTIVE
{
	color				: #ff0000;
}


/*============================================================
	注意書き用
 *============================================================*/

H1.caution {
	font-family			: Arial;
	font-size			: 22px;
	font-weight			: bold;
	text-decoration		: none;
	color				: #000;
	text-align			: left;

	padding				: 0px;
	margin				: 10px 0px 0px 10px;

	border-width		: 0px;
}

H2.caution {
	font-family			: Arial;
	font-size			: 14px;
	font-weight			: bold;
	text-decoration		: none;

	padding				: 0px;
	margin				: 10px 0px 5px 30px;

	border-width		: 1px;
	border-color		: #444;
	border-style		: none none solid none;
}

P.caution {
	font-family			: Arial;
	font-size			: 12px;
	font-weight			: normal;
	line-height			: 18px;
	color				: #000;

	padding				: 0px;
	margin				: 0px 0px 10px 30px;
}
