
table.timetable
{
	position		: static;
	width			: 95%;
	padding			: 0px;
	margin			: 0px;
	top				: auto;
	left			: auto;
	bottom			: auto;
	right			: auto;
	border-style	: none;
	border-width	: 1px;
	border-color	: #C0C0C0;
	border-collapse	: collapse;
	empty-cells		: hide;
	font-family		: "Arial";
	font-style		: normal;
	font-weight		: bold;
	font-size		: 10pt;
	background-color: transparent;
}

table.timetable th
{
	width			: 48px;
	border-style	: solid;
	border-width	: 1px;
	font-weight		: bold;
	text-align		: center;
	color			: black;
	background-color: #EEEEFF;
}

table.timetable td
{
	width			: auto;
	border-style	: solid;
	border-width	: 1px;
	font-weight		: bold;
	text-align		: center;
	color			: black;
	background-color: transparent;
}

table.timetable td.dummy
{
	border				: 0px;
	background-color	: transparent;
}

table.timetable td.empty
{
	background-color	: transparent;
}

table.timetable td.prefetch
{
	background-color	: #6666FF;
}

table.timetable td.fetch
{
	background-color	: #6699FF;
}

table.timetable td.decode
{
	background-color	: #6699FF;
}

table.timetable td.exec
{
	background-color	: #99FF99;
}

table.timetable td.post
{
	background-color	: #99FF99;
}

table.timetable td.drop
{
	background-color	: #999999;
}

table.timetable td.flow
{
	background-color	: #FFFF99;
}

table.timetable td.read
{
	background-color	: #CCFFCC;
}

table.timetable td.write
{
	background-color	: #00FF00;
}

table.timetable td.stall
{
	background-color	: #999999;
}

table.timetable td.wait
{
	background-color	: #CCCCCC;
}

table.timetable td.cancel
{
	background-color	: #33CC33;
}

table.timetable td.NOP
{
	background-color	: #CCCCCC;
}

table.timetable td.ADD
{
	background-color	: #99CCFF;
}

table.timetable td.MUL
{
	background-color	: #CC99FF;
}

table.timetable td.EXP
{
	background-color	: #33CCFF;
}

table.timetable td.FLOOR
{
	background-color	: #FF99FF;
}

table.timetable td.LOG
{
	background-color	: #33CCFF;
}

table.timetable td.MAX
{
	background-color	: #FF99FF;
}

table.timetable td.MIN
{
	background-color	: #FF99FF;
}

table.timetable td.MOV
{
	background-color	: #CCFFFF;
}

table.timetable td.MOVA
{
	background-color	: #CCFFFF;
}

table.timetable td.RCP, table.timetable td.RSQ
{
	background-color	: #CC66CC;
}

table.timetable td.SGE
{
	background-color	: #FF99FF;
}

table.timetable td.SLT
{
	background-color	: #FF99FF;
}

table.timetable td.CMP
{
	background-color	: #FFCC00;
}

table.timetable td.LITP
{
	background-color	: #FF99FF;
}

table.timetable tr
{
	background-color: transparent;
}
